body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 95vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    height: 600px;
    width: 500px;
    background: black;
    border-radius: 10px;
}

#display {
    border: 5px solid black;
    width: auto;
    height: 100px;
    font-size: 65px;
    font-weight: 700;
    background-color: rgb(172, 167, 167);
    border-radius: 10px;
    overflow: auto;
}

#top-container {
    display: flex;
    justify-content: space-between;
}

.clear {
    height: 100px;
    width: 250px;
    background-color: #ff0000;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}

.clear.entry {
    background-color: orange;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
}

#mid-container {
    display: flex;
}

.num,
.point {
    background-color: blue;
    height: 100px;
    width: 125px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}

#operators {
    display: flex;
    flex-direction: column;
}

.operator,
.result {
    height: 100px;
    width: 125px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    background-color: green;
}